
.tags-index.maxwidth
  .header
    %h5.title Tags (#{@tags.length})

  = render 'index', tags: @tags

  %hr

  .tags-new.maxwidth
    .header
      %h5.title New tag

    = render 'form', tag: @new_tag
