
= link_to "Obfuscated Redirects (#{Wco::ObfuscatedRedirect.all.length})", wco.obfuscated_redirects_path
-# .inline-search
-#   = form_tag wco.invoices_path, method: :get do
-#     = text_field_tag :q
= link_to '[+]', wco.new_obfuscated_redirect_path
