
.sitemap-paths--index
  %table.bordered.data-table
    %thead
      %td Path
      %td Redirect To
      %td Selector
      %td Status
    %tbody
      - spaths.each do |spath|
        %tr
          %td= spath.path
          %td= spath.redirect_to
          %td= spath.selector
          %td= spath.status
